/* simple reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  color: #333;
}

li {
  list-style: none;
}

h1 {
  font-weight: normal;
}

header h1 {
  font-size: 16px;
}

#main {
  background: #e6e6e6;
}
#main > section {
  background: #fafaf5;
}

footer {
  text-align: center;
}
