<section>
	<div class="member-info">
		<!-- <h1>{{member.name}}</h1> -->
		<div class="member-frame" style="border: 2px solid {{ member.color }};">
				<div class="info-stamparea" id="info-stamparea">
					<img src="{{ member.icon }}" alt="" class="member-info-icon" style="border: 1px solid {{ member.color }};">
					<span class="member-info-no">No.{{ member.No }}</span>
				</div>
		</div>
		<!-- <button>スタンプを押す</button> -->
		<p class="info-moreLink"><a ng-href="http://html5experts.jp/{{member.link}}/" target="_blank">HTML5 Experts.jpで詳細をみる</a></p>
		<p class="info-moreLink"><a onclick="history.back()">一覧に戻る</a></p>
	</div>
</section>